@model ASP_NET_MVC_Q1.Models.UserModel
    <form action="/Data/Save" method="post">
        <div>
            <label>
                Name:
            </label>
            <input type="hidden" name="Name" value="@Model.name">
            @Html.DisplayFor(Model => Model.name)

        </div>
        <div>
            <label>
                Phone:
            </label>
            <input type="hidden" name="Phone" value="@Model.phone">
            @Html.DisplayFor(Model => Model.phone)
        </div>
        <div>
            <label>
                Email:
            </label>
            <input type="hidden" name="Email" value="@Model.email">
            @Html.DisplayFor(Model => Model.email)
        </div> 
        <button type="submit" class="button02">Save</button>
    </form>
